.MainContainer {
  display: flex;
}

.Header{
  display: flex;
}

.TopLeftContainer {
  width: 272px;
  background-color: #734a8b21;
  height: 80px;
  margin-left: 40px;
}

.LeftNav {
  width: 272px;
  background-color: #33074F; 
  color: white;
  padding: 20px;
  height: 900px; 
}

.LeftNav ul {
  list-style-type: none;
  padding: 0;
}

.LeftNav li {
  margin: 10px 0;
}

.LeftNav li:hover {
  background-color: #495057; 
  cursor: pointer;
}


.TopDashboard {
  background-color: white;
  width: 1168px; 
  height: 80px;
  left: 272px;
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.Content {
  flex-grow: 1;
  padding: 20px;
}

.Tasks {
  border: 1px solid #dee2e6;
  padding: 20px;
  margin: 10px 0;
}

.Feed {
  border: 1px solid #dee2e6;
  padding: 20px;
  margin: 10px 0;
}


