.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    padding: 10px 15px;
    border: 1px solid #dee2e6;
    color: #343a40;
    cursor: pointer;
  }
  
  .page-link:hover {
    background-color: #e9ecef;
  }
  