.Pagination {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    list-style-type: none;

  }
  
  .Page-number {
    margin: 0 5px;
  }
  
  .Page-link {
    padding: 10px 15px;
    border: 1px solid #dee2e6;
    text-decoration: none;
    cursor: pointer;
  }

  .Selected a{
   color: #BC006D;
    border-color: #BC006D;
  }
  
  .Page-link:hover {
    background-color: #BC006D;
  }
  